h1   {color:white;font-family:serif;text-align:center;}
h3   {color:white;font-family:serif;text-align:center;}
h5   {color:white;font-family:serif;text-align:center;}
p    {margin-left:20px;color:white;text-align:center;}
hr   {width:500;size:6;color:red;}
li   {color:white;font-family:serif;list-style-position:inside;}
a    {color:green;font-family:serif;text-align:center;}

body {
  background-color:black;
  background-image:url(../images/background.jpg);
}

.basicbox {
  text-align:center;
  border-style:groove;
  border-width:3px;
  border-color:#480000;
  border-radius:20px;
  background-color:black;
  background-image:none;
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.8);
}

.allmenu {
  width:1000px;
  height:650px;
  position:relative;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  border-color:#000000;
}

#mainlogo {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.header {
  background-color:#480000;
}

.endmessage {
  width:200px;
  height:40px;
  margin: 0 auto;
  text-align:center;
  color:white;
  font-size:16;
}

.mainmenubuttons {
  height:250px;
  width:540px;
  display:inline-block;
}

.mainmenubuttons img {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  -webkit-filter: saturate(100%%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.mainmenubuttons img:hover {
  -webkit-filter: saturate(300%);
}

.leftmenu {
  float:left;
  margin-left:10px;
  height:580px;
  width:140px;
}

.leftmenu img {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  border:5px solid #ccc;
  margin: 15px; 
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out; 
  -o-transition: margin 0.5s ease-out;
}

.leftmenu img:hover { margin-top:2px;}

.rightmenu {
  float:right;
  margin-right:10px;
  height:580px;
  width:140px;
}

.rightmenu img {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  border:5px solid #ccc;
  margin: 15px; 
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out; 
  -o-transition: margin 0.5s ease-out;
}

.rightmenu img:hover { margin-top:2px;}

.lowermenu {
  float:left;
  clear:left;
  margin-left:10px;
  margin-left:10px;
  margin-left:10px;
  margin-left:10px;
  height:40px;
  width:140px;
}

.homebutton {
  height:50px;
  width:100px;
  margin: 0 auto;
  background: #480000;
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.homelink {
  text-align:center;
}

#submit {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  text-align:center;
  color:#FFF;
  padding:5px 25px 5px 25px;
  border:1px solid #999;
  text-shadow:0px 1px 1px #666;
  text-decoration:none;
  -moz-box-shadow:0 1px 3px #111;
  -webkit-box-shadow:0 1px 3px #111;
  box-shadow:0 1px 3px #111;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#64a724;
  background:-moz-linear-gradient(top, #64a724 0%, #579727 50%, #58982a 51%, #498c25 100%);
  background:-webkit-gradient(linear, left top, left bottom, from(#64a724), to(#498c25), color-stop(0.4, #579727), color-stop(0.5, #58982a), color-stop(.9, #498c25), color-stop(0.9, #498c25));
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a724', endColorstr='#498c25', GradientType=0 );
  cursor:pointer;
}

input, textarea, select {
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px;
}

input:focus, textarea:focus, select:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
